.cart {
  display: flex;
  flex-direction: column;
  padding-right: 5px;

  &__order {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__position {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 5px;
  }
  &__position__sub {
    display: flex;
    align-items: center;
    column-gap: 3px;
    width: 100%;
  }

  &__position__title {
    font-size: 14px;
    font-weight: 500;
    flex-grow: 1;
  }
  &__modification__title {
    padding-left: 10px;
    font-size: 14px;
    flex-grow: 1;
  }

  &__position__price-total {
    font-weight: 500;
    min-width: 9ch;
    text-align: end;
  }

  &__total {
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
  }
}
