@import "../../../styles.scss";

:host {
  display: block;
  background-color: white;
  margin-top: -$space;
  padding-bottom: 1600px;
}

.menu {
  display: block;
  &__list{
    height: 100%;
    overflow-y: auto;
  }
  &__category {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    &__title {
      font-size: 18px;
      font-weight: 500;
      margin-top: 10px;
      padding-bottom: 5px;
      border-bottom: solid 3px;
      color: $color-contrast;
    }
  }
}

p {
  font-weight: 500;
}


