<div *ngIf="orderPosition">
  <div>
    <button (click)="changeAmount(-1)"> - </button>
    <span> {{orderPosition.count}} </span>
    <button (click)="changeAmount(1)"> + </button>
    <span *ngIf="withTotal"> {{orderPosition.count * orderPosition.price}}</span>
  </div>
  <div *ngIf="orderPosition.modifications.length" class="order__modifications">
    <div *ngFor="let modification of orderPosition.modifications" class="order__modification">
      <span>{{ modification.name }}</span>
      <button (click)="changeModification(modification.dish_modification_id, -1)"> - </button>
      <span>{{ modification.count }}</span>
      <button (click)="changeModification(modification.dish_modification_id, 1)"> + </button>
      <span *ngIf="withTotal">{{ modification.count * modification.price}}</span>
    </div>
  </div>
</div>
