<div *ngIf="orderPosition">
  <div class="count" *ngIf="!modificationId">
    <button class="count__button" [ngClass]="orderPosition.count ? '' : 'disabled'" (click)="changeAmount(-1)"> <i class="fa-solid fa-minus"></i> </button>
    <span> {{orderPosition.count}} </span>
    <button class="count__button" (click)="changeAmount(1)"> <i class="fa-solid fa-plus"></i> </button>
  </div>
  <div class="count" *ngIf="modification">
    <button class="count__button" [ngClass]="modification.count ? '' : 'disabled'" (click)="changeModification(modification.dish_modification_id, -1)"> <i class="fa-solid fa-minus"></i> </button>
    <span> {{modification.count}} </span>
    <button class="count__button" [ngClass]="orderPosition.count ? '' : 'disabled'" (click)="changeModification(modification.dish_modification_id, 1)"> <i class="fa-solid fa-plus"></i> </button>
  </div>
</div>
