@import "../styles.scss";

:host {
  display: flex;
  height: max-content;
}

.content {
  padding-left: $space;
  flex-grow: 1;
  height: max-content;
}

.navigation {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: $background-color;
  color: $color-contrast;
}
