@import "../../../styles.scss";

:host {
  display: block;
  height: 100%;
}

.guest {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 100%;
  &__name {
    font-size: 18px;
  }
}
